<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a asp-controller="Gift">Gifts</a></li>
                <li><a asp-controller="Group">Groups</a></li>
                <li><a asp-controller="User">Users</a></li>
            </ul>
        </nav>
    </header>

    <div>
        @RenderBody()
    </div>
</body>
</html>
