@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$tomato: #FF6347;
$brown: #bb5454;
$happyColor: #b6ff00;

$family-sans-serif: "Nunito", sans-serif;
$primary: $brown;
$link: $happyColor;
$button-background-color: $tomato;


$control-border-width: 2px;
$input-background-color: $brown;
$input-border-color: transparent;
$input-shadow: none;

$navbar-item-color: $tomato;

@import "~bulma/bulma";